body {
background-color:rgb(255, 255, 255);
}
h1 {
color:rgb(255, 255, 255);
font-family: Gill Sans MT;
background-color: salmon;
margin-top: 30px;
padding: 5% 5%;
font-size: 40px;
text-align: center;
font-style: inherit;

}

h2 {
   color:rgb(204, 11, 11); 
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   text-align: center;
   text-decoration-line: underline;

}


p {
    color:rgb(85, 64, 64) ;
    font-family: sans-serif;
text-align: center;
}

li {
    color:lightgreen;
    display: inline-block;
    margin-right: 170px;
}

a:hover{
    text-decoration: none ;
background-color: mediumturquoise;
}



button{
    color: yellow;
padding: 10px;
}
button{
    background-color: brown;


}
button:hover{
    background-color: seagreen;
}

img{
width: 70px;
align-content: center;

}
.headingimage{
    width: 100%;
height: 200px;
}

.round img{
    
    margin: auto;
width: 160px;
margin-inline-start: 20px;
border-radius: 50%;
box-shadow: black 10px 10px 10px;
border:1px solid white;
}
.round{
    background-color: lightgreen;

}
footer{
    background-color: darkgrey;
    text-align: center;

}




.gallery img{

    margin-inline-start: 30px;
margin: 25px;
width: 400px;
border-radius: 30px;
padding: 3px;
box-shadow:orangered 10px 10px 10px;
border: 5px solid orangered;

}

@media all and (max-width: 800px){
    .gallery img{
        border: 5px solid blue;
   display: block;
    }
}

@media all and (max-width: 800px){
   .round img{
    border: 5px solid red;
display: block;
}
    
}

