body {
background-color:rgb(228, 228, 228);
}
h1 {
color:white;
font-family: Gill Sans MT;
background-color: mediumvioletred;
margin-top: 50px;
padding: 10% 5%;
font-size: 40px;
text-align: center;
font-style: inherit;

}

h2 {
   color:rgb(204, 11, 11); 
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   text-align: center;
text-decoration-line: underline;
}


p {
    color:rgb(85, 64, 64) ;
    font-family: sans-serif;
text-align: center;
}

li {
    color:lightgreen;
    display: inline-block;
    margin-right: 20px;

}

a:hover{
    text-decoration: none ;
background-color: mediumturquoise;
}



button{
    color: yellow;
padding: 10px;
}
button{
    background-color: brown;


}
button:hover{
    background-color: seagreen;
}


