body {
background-color:rgb(255, 249, 168);
}
h1 {
color:yellow;
font-family: Gill Sans MT;
background-color: darkmagenta;
margin: 1% 1%;
padding: 2% 2%;
display: inline-block;

}

h2 {
   color:lightseagreen; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   background-color: lavenderblush;

}

h3{
    color: orange;
    background-color: darkslategrey;

}

h4{
    color: white;
    background-color: hotpink;

}

p {
    color:rgb(243, 0, 0) ;
    font-family: sans-serif;

}

li {
    color:lightgreen;
    display: inline-block;
    margin-right: 20px;

}

a:hover{
    text-decoration: none ;
}

li:hover{
    background-color: pink;
}


ol li{
    color: lawngreen;
}

ul{
    list-style-type: square;

}


button{
    color: yellow;
padding: 10px;
}
button{
    background-color: brown;


}
button:hover{
    background-color: seagreen;
}

section{
    display: flex;
    flex-direction: row;
    display: inline;

}


div{
    background-color:lightseagreen;
    margin:auto;   
display: inline;
font-style: italic;

}



.special li{
    display: list-item;
padding-bottom: 05px;
color: indigo;
}

.items li{
    display: list-item;
color: indigo;

}

.items li:hover{
    background-color: lightsalmon;
}
.special li:hover{
    background-color: lightsalmon;
padding-bottom: 0px;
}



.lineup li{
    text-decoration-color: lightpink;
}

.navigation{
    display: inline-block;
margin-inline-start: 300px;
}
.aboutushead h1{
   margin-inline-start: 400px;
padding: 5px;
padding-left: 20px;
padding-right:20px;
}

.mainheading{
    
padding: 300px;
}

.foodvar{
text-size-adjust: 20%;
}

.conthead h1{
    padding: 5px;
    margin-inline-start: 450px;
}



